body.x-body, .x-panel-body-default, .x-body {
	font-family: 'Roboto', sans-serif;
}

a {
    color: #0275d8;
    text-decoration: none;
}
.label-sm {
    padding: 1px 4px;
}
.label {
    padding: .25em .5em;
    font-weight: 700;
    background-color: #b8b8b8;
}
.label {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    line-height: 1;
    color: #fff;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
.alert-link, .close, .label {
    font-weight: 700;
}
.c-indicator, .label, .pager {
    text-align: center;
}
b, dt, optgroup, strong {
    font-weight: 700;
}

.warn {
    background-color: #fcc100;
}
.dark {
	background-color: #2e3e4e;
}
.black, .danger, .dark, .grey, .info, .primary, .success, .warn, .warning {
    color: rgba(255,255,255,.87);
}

.x-btn-default-toolbar-medium, .x-btn.x-btn-menu-active.x-btn-default-toolbar-medium, .x-btn.x-btn-pressed.x-btn-default-toolbar-medium {
    background-image: none!important;
    background-color: transparent!important;
    border: 0px!important;
}

.x-btn {
	overflow: visible;

	.x-btn-inner {
		overflow: visible;
	}
}

.wrapper {
	font-family: 'Roboto', sans-serif;
	
	.west {
		background: #2e3e4e;
		color: rgba(255,255,255,.87);

		.x-panel-body-default, .x-toolbar-default {
			background: transparent;
			color: inherit;
		}

		.login-logo {
			text-align: center;
		    border: none;
		    margin: 0;
		    padding: 0 20px;
		    flex-shrink: 0;

		    a {
			    min-height: 50px;
			    padding: 0;
			    line-height: 50px;
			    white-space: nowrap;

			    img { 
			        line-height: 50px;
			        max-height: 24px;
				    vertical-align: -4px;
				    display: inline-block;
			    }
			}
		}

		.navside, .navside .nav {
		    border: inherit;
		}
		.navside ul {
		    padding-left: 0;
		    list-style: none;
		}
		.nav, .nav-item, .nav-link {
		    border: inherit;
		}
		.nav {
		    padding-left: 0;
		    margin-bottom: 0;
		    list-style: none;
		}

		ul {
			padding-left: 0;
			list-style: none;


			li {
			    position: relative;

				.nav-sub {
				    max-height: 0;
				    overflow: hidden;
				    -webkit-transition: max-height .4s ease 0s;
				    transition: max-height .4s ease 0s;
				}



				a:before {
				    content: " ";
				    display: table;
				}

				a:after {
					content: " ";
					display: table;
				}

				a { 
					display: block;
   					position: relative;
				    padding: 0 16px;
				    line-height: 40px;
				    color: inherit;
				    font-weight: 500;
				    font-size: 14px;
					font-family: 'Roboto', sans-serif;

					.nav-icon {
					    float: left;
					    line-height: inherit;
					    margin-right: 1rem;
					    top: 0;
					    min-width: 20px;
					    text-align: center;
					}

					.nav-caret {
					    float: right;
					    margin-left: 14px;
					    opacity: .45;

						i {
						    -webkit-transition: transform .3s ease-in-out;
						    transition: transform .3s ease-in-out;
						}
					}

					.nav-label {
					    float: right;
					    margin-left: 14px;
					    font-style: normal;
						z-index: 1;
					
					}
				}

				a:hover {
					background-color: rgba(0,0,0,.065);
				}
			}

			li.active {
    			background-color: rgba(0,0,0,.065);

    			.nav-sub {
    				max-height: 800px;
    			}

    			a {
    			    background-color: transparent;
    			}
			}
		}


	}

	.one {
		.scrollable-wrapper {
			padding: 15px; 
			background: #f0f0f0;
			
			.x-panel-body-default {
				background: #f0f0f0;
			}
		}

		.heading {
			background: #fff;
		    border: none;
		    margin: 0;
		    padding: 0 1rem;
		    flex-shrink: 0;
		    min-height: 3.5rem;
		    box-shadow: 0 2px 2px rgba(0,0,0,.03),0 1px 0 rgba(0,0,0,.03);

		    .navbar-item {
				padding: 0;
			    line-height: 3.5rem;
			    white-space: nowrap;
			    font-size: 20px;
			    float: left;
		    }
		}
	}
}



.notifications-menu {
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 1rem;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;

    .x-menu-item {
	    display: block;
	    padding: 3px 20px;
	    line-height: 1.5;
	    white-space: nowrap;
	    width: 100%;
	    font-weight: 400;
	    color: #373a3c;
	    text-align: inherit;
	    background: 0 0;
	    border: 0;
    }
}

.navbar .avatar {
    top: -2px;
}
.md-btn, .md-check, .md-input~label, .w-16, .w-20, .w-24, .w-32, .w-48, .w-56, .w-8 {
    display: inline-block;
}
.md-btn, .w-24, .w-32, .w-40, .w-48, .w-56 {
    text-align: center;
}
.avatar {
    position: relative;
    display: inline-block;
    width: 40px;
    line-height: 1;
    font-weight: 700;
}
.avatar, .avatar img {
    border-radius: 500px;
}
.avatar, .h-1x, .list-icon div, .md-btn, .text-ellipsis {
    white-space: nowrap;
}

.avatar i.on {
    background-color: #6cc788;
}
.avatar i.bottom, .avatar i.left {
    top: auto;
    bottom: 0;
}
.avatar i.bottom, .avatar i.right {
    left: auto;
    right: 0;
}
.avatar i {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    margin: 1px;
    border-width: 2px;
    border-style: solid;
    border-radius: 100%;
}
.b-white {
    border-color: #fff;
}

.avatar img {
    width: 100%;
}
.label.up {
    position: relative;
    top: -10px;
    min-width: 4px;
    min-height: 4px;
    display: inline-block;
}
.up {
    margin: 0 -.6em;
}
.w-32 {
    width: 32px;
    height: 32px;
    line-height: 32px;
}